.grid-container {
    margin: 20px;
}

.mentors-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.mentor-card {
    width: 280px;
}

.mat-h1 {
    margin-left: 20px;
}

mat-card-actions {
    margin: 30px;
}