<div fxLayout="row" fxLayoutAlign="center center" class="login-container">
  <mat-card class="login-card">
    <img src="assets/images/logo.png" alt="Logo">
    <mat-card-title fxLayoutAlign="center">Welcome to I-Mentor</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-icon aria-hidden="false" aria-label="mail icon" matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-icon aria-hidden="false" aria-label="mail icon" matSuffix>key</mat-icon>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between center" class="form-options">
        <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        Login
      </button>

      <div fxLayout="row" fxLayoutAlign="start">
        <p>Don't have account? <a routerLink="/register">Register Here!</a></p>
      </div>
    </form>
  </mat-card>
</div>