.register-container {
    display: flex;
    justify-content: center;
    background: #f0f2f5;
}

.register-card {
    width: 350px;
    padding: 20px;
    margin: 40px;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}

mat-card-title {
    margin-bottom: 20px;
}